@model WebHost.Models.DepartmentInputModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Department</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Department.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Department.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Department.Name)
                @Html.ValidationMessageFor(model => model.Department.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Department.Code)
                @Html.ValidationMessageFor(model => model.Department.Code)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department.FacultyId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Department.FacultyId", Model.Faculties)
                @Html.ValidationMessageFor(model => model.Department.FacultyId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
